Repository genesiscommunitysuccess/blank-app-seed, pull requests merged in 2024-09, with the labels that each got.

#330 chore: support env variables - FUI-2153
  .genx/utils/generateTile.js
  client-tmp/react/env.development.json
  client-tmp/react/src/App.tsx
  client-tmp/react/src/config.ts
  client-tmp/react/src/utils/index.ts
  client-tmp/react/src/utils/setApiHost.ts
  client-tmp/react/vite.config.js
Labels: react

#333 feat: add entityLabel so toast popups tell us the type of entity added GENC-762
  .genx/templates/angular/entityManager.hbs
  .genx/templates/react/entityManager.hbs
  .genx/templates/web-components/entityManager.hbs
Labels: enhancement

#332 feat: add unit tests - FUI-2173
  .genx/templates/react/component/component.hbs
  .genx/templates/react/component/component.index.hbs
  .genx/templates/react/route.hbs
  .genx/utils/generateRoute.js
  .genx/utils/generateTile.js
  client-tmp/react/.babelrc
  client-tmp/react/jest.config.js
  client-tmp/react/jest.setup.js
  client-tmp/react/package.json
  client-tmp/react/src/App.tsx
  client-tmp/react/src/components/ErrorMessage/ErrorMessage.test.js
  client-tmp/react/src/pages/AuthPage/AuthPage.test.js
  client-tmp/react/src/pages/NotPermittedPage/NotPermittedPage.test.js
Labels: enhancement, react
